<table>
    <tr>
        <th>name</th>
        <th>base_experience</th>
        <th>height</th>
        <th>weight</th>
        <th>Abilities</th> 
         
    </tr>
    <tr>
        <td>{{caracteristique.name}}</td>
        <td>{{caracteristique.base_experience}}</td>
        <td>{{caracteristique.height}}</td>
        <td>{{caracteristique.weight}}</td>
        <td>{% for ability in caracteristique.abilities %}
                {% for ab in ability %}
                    {{ab.name}}<br>
                {% endfor %}
            {% endfor %}
        </td>      
        
    </tr>
    
    <a href = "/poke-monster-poche//pokemon-list">Retour</a>

</table>
moves :
<table>
    <tr>
        {% for move in caracteristique.moves %}
            {% for mo in move %}
                <td>{{mo.name}}</td>
            {% endfor %}
        {% endfor %}
    </tr>
</table>
pics :
<table>
    <tr>
        {% for sprite in caracteristique.sprites %} 
        <td><img src ="{{sprite}}"></td>
        {% endfor %}
    </tr>
</table>
